:root {
    /*фон страницы в светлой теме*/
    --light-theme-bg: rgba(226, 226, 226, 1);
    /*тёмный текст светлой темы*/
    --light-theme-dark-text: rgba(33, 33, 33, 1);
    /*светлый текст светлой темы*/
    --light-theme-light-text: rgba(129, 129, 129, 1);
    /*тёмные фоны в светлой теме*/
    --light-theme-dark-grey: rgba(85, 85, 85, 1);
    /*серые фоны в светлой теме*/
    --light-theme-grey-bg: rgba(201, 201, 201, 1);
    /*фоны полей в форме*/
    --light-theme-form: rgba(217, 217, 217, 1);
    /*квадраты в баннерах на главной*/
    --light-theme-banner: rgba(27, 27, 27, 1);
    /*проект в работе (текст)*/
    --light-theme-progress-text: rgba(139, 139, 139, 1);
    /*проект в работе (бордер)*/
    --light-theme-progress-border: rgba(168, 168, 168, 1);

    /*оранжевые элементы*/
    --orange-theme: rgba(245, 95, 36, 1);

    /*красные элементы*/
    --red-theme: rgba(235, 35, 5, 1);

    /*фон страницы в тёмной теме*/
    --dark-theme-bg: rgba(33, 33, 33, 1);
    /*тёмный фон в тёмной теме*/
    --dark-theme-dark-bg: rgba(78, 78, 78, 1);
    /*текст в тёмной теме*/
    --dark-theme-light-text: rgba(219, 219, 219, 1);
}

body {
    background-color: var(--light-theme-bg);
}
body.dark-active {
    background-color: var(--dark-theme-bg);
}
body.dark-active .main * {
    color: var(--dark-theme-light-text);
}
body.dark-active .menu__list {
    color: var(--dark-theme-light-text);
}
body.dark-active .footer__main * {
    color: var(--dark-theme-light-text) !important;
}
body.dark-active .item-banners__name::before {
    background-color: var(--dark-theme-light-text);
}
body.dark-active .intro__anim,
 .footer__logo {
    background:
        url("../../../images/cross-white.png") 0 0/15px 15px no-repeat,
        url("../../../images/cross-white.png") 0 100%/15px 15px no-repeat,
        url("../../../images/cross-white.png") 100% 0/15px 15px no-repeat,
        url("../../../images/cross-white.png") 100% 100%/15px 15px no-repeat;
}
body.dark-active .header-projects-page__filter span svg path {
    fill: var(--dark-theme-light-text);
}




body.orange-active .title-h2 span,
body.orange-active .internal-page .title-h1 span {
    border-bottom: 15px solid var(--orange-theme);
}
body.orange-active .logo-footer__inner {
    position: relative;
}
body.orange-active .logo-footer__inner::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--orange-theme);
    width: 150%;
    height: 250%;
    transform: translate(-50%, -50%);
    z-index: -1;
}


.page {
    overflow: hidden;
    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
}

.main {
    flex: 1 1 auto;
}

.main * {
    color: var(--light-theme-dark-text);
    font-family: "Pragmatica";
    font-weight: 300;
}

.container {
    width: 1920px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    @media (max-width: 1279px) {
        padding: 0 10px;
    }
}

.title-h1 span {
    font-family: "Literata";
    font-weight: 800;
    font-size: 104px;
    line-height: 120%;
    color: var(--light-theme-dark-text);
    letter-spacing: -0.03em;
}

@media (max-width: 1919px) {
    .title-h1 span {
        font-size: 84px;
        letter-spacing: -0.02em;
    }
}

@media (max-width: 1279px) {
    .title-h1 span {
        font-size: 50px;
    }
}

@media (max-width: 639px) {
    .title-h1 span {
        font-size: 26px;
    }
}

.title-h2 span {
    font-family: "Literata";
    font-weight: 800;
    font-size: 64px;
    line-height: 120%;
    color: var(--light-theme-dark-text);
    font-weight: 800;
    letter-spacing: -0.03em;
}

@media (max-width: 1279px) {
    .title-h2 span {
        font-size: 50px;
    }
}

@media (max-width: 639px) {
    .title-h2 span {
        font-size: 26px;
        letter-spacing: -0.02em;
    }
}

.internal-page {
    padding-top: 180px;
    padding-bottom: 180px;
}

@media (max-width: 1279px) {
    .internal-page {
        padding-top: 145px;
        padding-bottom: 145px;
    }
}

@media (max-width: 639px) {
    .internal-page {
        padding-top: 115px;
        padding-bottom: 115px;
    }
}

.follow {
    border-radius: 50%;
    position: absolute;
    z-index: 99;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

@media (max-width: 992px) {
    .follow {
        display: none;
    }
}

.follow-big {
    width: 69px;
    height: 69px;
    border: 1px solid var(--orange-theme);
    transition: all 0.15s ease 0s;
}

.follow-small {
    width: 15px;
    height: 15px;
    background-color: var(--orange-theme);
    transition: all 0.1s ease 0s;
}

.up-click {
    position: fixed;
    bottom: 32px;
    right: 32px;
    cursor: pointer;
    z-index: 99;
}

@media (max-width: 992px) {
    .up-click {
        bottom: 22px;
        right: 22px;
    }
}

.up-click::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 46px;
    height: 46px;
    background-color: var(--light-theme-progress-text);
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0;
}

.up-click::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    background-color: var(--light-theme-banner);
    transform: translate(-50%, -50%);
    z-index: 2;
}

.up-click:hover::before {
    opacity: 1;
}

.up-click svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    z-index: 99;
}
