:root {
    /*фон страницы в светлой теме*/
    --light-theme-bg: rgba(226, 226, 226, 1);
    /*тёмный текст светлой темы*/
    --light-theme-dark-text: rgba(33, 33, 33, 1);
    /*светлый текст светлой темы*/
    --light-theme-light-text: rgba(129, 129, 129, 1);
    /*тёмные фоны в светлой теме*/
    --light-theme-dark-grey: rgba(85, 85, 85, 1);
    /*серые фоны в светлой теме*/
    --light-theme-grey-bg: rgba(201, 201, 201, 1);
    /*фоны полей в форме*/
    --light-theme-form: rgba(217, 217, 217, 1);
    /*квадраты в баннерах на главной*/
    --light-theme-banner: rgba(27, 27, 27, 1);
    /*проект в работе (текст)*/
    --light-theme-progress-text: rgba(139, 139, 139, 1);
    /*проект в работе (бордер)*/
    --light-theme-progress-border: rgba(168, 168, 168, 1);

    /*оранжевые элементы*/
    --orange-theme: rgba(245, 95, 36, 1);

    /*красные элементы*/
    --red-theme: rgba(235, 35, 5, 1);

    /*фон страницы в тёмной теме*/
    --dark-theme-bg: rgba(33, 33, 33, 1);
    /*тёмный фон в тёмной теме*/
    --dark-theme-dark-bg: rgba(78, 78, 78, 1);
    /*текст в тёмной теме*/
    --dark-theme-light-text: rgba(219, 219, 219, 1);

    --light-theme-options-bg: rgba(33, 33, 33, 1);
    --light-theme-options-text: rgba(226, 226, 226, 1);
    --dark-theme-options-bg: rgba(226, 226, 226, 1);
    --dark-theme-options-text: rgba(78, 78, 78, 1);
}

body {
    background-color: var(--light-theme-bg);
}
body.overflow-hidden {
    overflow: hidden;
}
body a {
    color: var(--light-theme-dark-text);
}
body.dark-active {
    background-color: var(--dark-theme-bg);
}
body.dark-active a {
    color: var(--dark-theme-light-text);
}

@media (max-width: 1279px) {
    body.dark-active a {
        color: var(--light-theme-dark-text);
    }
}

body.dark-active .main * {
    color: var(--dark-theme-light-text);
}
body.dark-active .menu__list {
    color: var(--dark-theme-light-text);
}
body.dark-active .footer__main * {
    color: var(--dark-theme-light-text) !important;
}
body.dark-active .item-banners__name::before {
    background-color: var(--dark-theme-light-text);
}
body.dark-active .intro__anim::before,
body.dark-active .logo-footer {
    background:
        url("../images/cross-white.png") 0 0/15px 15px no-repeat,
        url("../images/cross-white.png") 0 100%/15px 15px no-repeat,
        url("../images/cross-white.png") 100% 0/15px 15px no-repeat,
        url("../images/cross-white.png") 100% 100%/15px 15px no-repeat;
}
body.dark-active .quote-project-page__text span {
    background:
        url("../images/cross-white.png") 0 0/15px 15px no-repeat,
        url("../images/cross-white.png") 0 100%/15px 15px no-repeat,
        url("../images/cross-white.png") 50% 0%/15px 15px no-repeat,
        url("../images/cross-white.png") 50% 100%/15px 15px no-repeat,
        url("../images/cross-white.png") 100% 0/15px 15px no-repeat,
        url("../images/cross-white.png") 100% 100%/15px 15px no-repeat;
    max-width: 100%;
}
body.dark-active .header-projects-page__filter span svg path {
    fill: var(--dark-theme-light-text);
}
body.dark-active .options-header {
    background-color: var(--dark-theme-options-bg);
}
body.dark-active .options-header * {
    color: var(--dark-theme-options-text);
}
body.dark-active .options-header .toggle {
    background-color: var(--light-theme-grey-bg);
}
body.dark-active .options-header input[type="range"] {
    background: var(--light-theme-grey-bg);
}
body.dark-active .options-header input[type="range"]::-webkit-slider-thumb {
    background-color: var(--light-theme-dark-text);
}
body.dark-active .header__search {
    background-color: var(--light-theme-dark-grey);
}
body.dark-active .header__lang .dropdown__btn,
body.dark-active .header__lang .dropdown__btn a {
    background-color: var(--light-theme-dark-grey);
    color: var(--dark-theme-light-text);
}

@media (max-width: 1279px) {
    body.dark-active .header__lang .dropdown__btn:not(.active),
    body.dark-active .header__lang .dropdown__btn:not(.active) a {
        background-color: var(--light-theme-bg);
        color: var(--light-theme-dark-grey);
    }
}

body.dark-active .header__options-btn {
    background-color: var(--light-theme-dark-grey);
}
body.dark-active .header__search-input::placeholder {
    color: var(--dark-theme-light-text);
}
body.dark-active .list-projects__more-btn span {
    background-color: var(--dark-theme-light-text);
}
body.dark-active .swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: var(--dark-theme-light-text);
}
body.dark-active .swiper-suppliers__icon {
    background-color: transparent;
}
body.dark-active .swiper-suppliers__icon:hover {
    background-color: var(--orange-theme);
}
body.dark-active .footer__container .footer__main .footer__menu a:hover {
    background-color: var(--dark-theme-light-text);
    color: var(--dark-theme-bg) !important;
}
body.dark-active .up-click::after {
    background-color: var(--dark-theme-light-text);
}
body.dark-active .up-click svg path {
    fill: var(--light-theme-dark-text);
}
body.dark-active #headerOptionsBtn1 svg rect {
    fill: var(--light-theme-bg);
}
body.dark-active #headerOptionsBtn2 svg rect {
    fill: var(--light-theme-bg);
}
body.dark-active .header__search-btn svg path {
    fill: var(--light-theme-bg);
}
body.dark-active .header__logo-inner svg path {
    fill: var(--light-theme-bg);
}
body.dark-active .logo-footer__inner svg path {
    fill: var(--light-theme-bg);
}
body.dark-active .dropdown__menu * {
    color: var(--dark-theme-dark-bg);
}
body.dark-active .last-about-us-page__item:hover .item-last-about-us-page__el {
    background-color: var(--dark-theme-dark-bg);
}
body.dark-active .item-last-about-us-page__el::before {
    background-color: var(--dark-theme-light-text);
}
body.dark-active .item-last-about-us-page__el::after {
    background: url("../images/arrow-black.svg") 0 0 / 100% 100% no-repeat;
    transform: translate(-50%, -50%) rotate(0deg);
}
body.dark-active .project-page__media-desc-item a span::before {
    background-color: var(--dark-theme-light-text);
}
body.dark-active .item-projects-page__loc::before {
    background: url("../images/loc-white.svg") 0 0 / 100% 100% no-repeat;
}
body.dark-active .project-page__media-desc-item a:hover span {
    background-color: var(--dark-theme-dark-bg);
}
body.dark-active .sec1-about-us-page__point::before {
    background-color: var(--dark-theme-light-text);
}
body.dark-active .contacts-page__right ul li a::before {
    background-color: var(--dark-theme-light-text);
}
body.dark-active .contacts-page__right ul li a::after {
    background-color: var(--dark-theme-dark-bg);
}
body.dark-active .question-contacts-page__input {
    background-color: var(--dark-theme-dark-bg);
}
body.dark-active .question-contacts-page__textarea textarea {
    background-color: var(--dark-theme-dark-bg);
}
body.dark-active .question-contacts-page__input,
body.dark-active .question-contacts-page__input::placeholder {
    color: var(--dark-theme-light-text);
}
body.dark-active .question-contacts-page__textarea textarea,
body.dark-active .question-contacts-page__textarea textarea::placeholder {
    color: var(--dark-theme-light-text);
}
body.dark-active .question-contacts-page__textarea-footer input[type="checkbox"] {
    border-color: var(--dark-theme-light-text);
}
body.dark-active .question-contacts-page__textarea-footer button {
    background-color: var(--dark-theme-light-text);
    color: var(--dark-theme-dark-bg);
}
body.dark-active .question-contacts-page__textarea-footer input[type="checkbox"]:checked::before {
    background: url("../../images/arrow-checkbox-white.svg") 0 0 / 100% 100% no-repeat;
}
body.dark-active .toggle:checked::before {
    background-color: var(--light-theme-banner);
}

body.orange-active .title-h2 span,
body.orange-active .internal-page .title-h1 span {
    border-bottom: 15px solid var(--orange-theme);
}
body.orange-active .logo-footer__inner {
    position: relative;
}
body.orange-active .logo-footer__inner::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--orange-theme);
    width: 150%;
    height: 250%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.page {
    overflow: hidden;
    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    transition: all 0.5s ease 0s;
}
@media (min-width: 1280px){
    body.reduce-width .wrapper {
        margin: 0 20px;
        position: relative;
    }
    body::before,
    body::after {
        content: '';
        position: absolute;
        top: 0;
        width: 20px;
        height: 100%;
        background-color: var(--dark-theme-bg);
        transition: all 0.5s ease 0s;
    }
    body::before {
        left: 0;
        transform: translate(-110%, 0);
    }
    body::after {
        right: 0;
        transform: translate(110%, 0);
    }
    body.reduce-width::before {
        transform: translate(0%, 0);
        left: 0;
    }
    body.reduce-width::after {
        transform: translate(0%, 0);
        right: 0;
    }
    body.reduce-width .header {
        border-radius: 10px;
    }
}

.main {
    flex: 1 1 auto;
}

.main * {
    color: var(--light-theme-dark-text);
    font-family: "Pragmatica";
    font-weight: 300;
}

.container {
    width: 1920px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    @media (max-width: 1279px) {
        padding: 0 10px;
    }
}

h1.title-h1 span {
    font-family: "Literata";
    font-weight: 800;
    font-size: 104px;
    line-height: 120%;
    color: var(--light-theme-dark-text);
    letter-spacing: -0.03em;
}

@media (max-width: 1919px) {
    h1.title-h1 span {
        font-size: 84px;
        letter-spacing: -0.02em;
    }
}

@media (max-width: 1279px) {
    h1.title-h1 span {
        font-size: 50px;
    }
}

@media (max-width: 639px) {
    h1.title-h1 span {
        font-size: 26px;
        font-weight: 700;
    }
}

h2.title-h2 span {
    font-family: "Literata";
    font-weight: 800;
    font-size: 64px;
    line-height: 120%;
    color: var(--light-theme-dark-text);
    font-weight: 800;
    letter-spacing: -0.03em;
}

@media (max-width: 1279px) {
    h2.title-h2 span {
        font-size: 50px;
    }
}

@media (max-width: 639px) {
    h2.title-h2 span {
        font-size: 26px;
        letter-spacing: -0.02em;
        font-weight: 700;
    }
}

.internal-page {
    padding-top: 180px;
    padding-bottom: 180px;
}

@media (max-width: 1279px) {
    .internal-page {
        padding-top: 145px;
        padding-bottom: 145px;
    }
}

@media (max-width: 639px) {
    .internal-page {
        padding-top: 115px;
        padding-bottom: 115px;
    }
}

.follow {
    border-radius: 50%;
    position: absolute;
    z-index: 99;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

@media (max-width: 992px) {
    .follow {
        display: none;
    }
}

.follow-big {
    width: 69px;
    height: 69px;
    border: 1px solid var(--orange-theme);
    transition: all 0.15s ease 0s;
}

.follow-small {
    width: 15px;
    height: 15px;
    background-color: var(--orange-theme);
    transition: all 0.1s ease 0s;
}

.up-click {
    position: fixed;
    bottom: 32px;
    right: 32px;
    cursor: pointer;
    z-index: 99;
}

@media (max-width: 992px) {
    .up-click {
        bottom: 22px;
        right: 22px;
    }
}

.up-click::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 46px;
    height: 46px;
    background-color: var(--light-theme-progress-text);
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0;
}

.up-click::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    background-color: var(--light-theme-banner);
    transform: translate(-50%, -50%);
    z-index: 2;
}

.up-click:hover::before {
    opacity: 1;
}

.up-click svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    z-index: 99;
}
