.intro {
  min-height: calc(100vh - 40px);
  display: flex;
  position: relative;
}
@media (max-width: 1279px) {
  .intro {
    min-height: 1050px;
  }
}
@media (max-width: 639px) {
  .intro {
    min-height: 620px;
  }
}
.intro__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 100%;
  padding-top: 63px;
}
@media (max-width: 1279px) {
  .intro__container {
    padding-top: 0;
    justify-content: flex-end;
  }
}
.intro__inner {
  padding-left: 94px;
  padding-bottom: 58px;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media (max-width: 1919px) {
  .intro__inner {
    min-height: 670px;
    padding-bottom: 53px;
  }
}
@media (max-width: 1279px) {
  .intro__inner {
    padding-left: 0;
    min-height: 0;
    padding-bottom: 60px;
  }
}
@media (max-width: 639px) {
  .intro__inner {
    display: block;
    padding-left: 0;
    padding-bottom: 62px;
  }
}
.intro__title {
  font-family: "Gravitas One";
  font-size: 101px;
  line-height: 100%;
  letter-spacing: -0.05em;
  font-weight: 400;
}
@media (max-width: 1279px) {
  .intro__title {
    font-size: 80px;
  }
}
@media (max-width: 639px) {
  .intro__title {
    font-size: 46px;
  }
}
.intro__subtitle {
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;
  font-weight: 300;
  margin-top: 20px;
}
@media (max-width: 1239px) {
  .intro__subtitle {
    font-size: 26px;
  }
}
@media (max-width: 639px) {
  .intro__subtitle {
    font-size: 24px;
    margin-top: 10px;
  }
}
.intro__anim {
  position: absolute;
  left: 50%;
  top: calc(50% + 31px);
  width: 470px;
  height: 800px;
  z-index: -1;
  padding: 60px 40px;
  transform: translate(-50%, -50%);
}
.intro__anim::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
  background: url("../../../images/cross.svg") 0 0/15px 15px no-repeat, url("../../../images/cross.svg") 0 100%/15px 15px no-repeat, url("../../../images/cross.svg") 100% 0/15px 15px no-repeat, url("../../../images/cross.svg") 100% 100%/15px 15px no-repeat;
}
.intro__anim::after {
  content: "";
  display: block;
  width: calc(100% + 64px);
  height: calc(100% + 64px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}
@media (max-width: 1919px) {
  .intro__anim::after {
    width: calc(100% + 40px);
    height: calc(100% + 40px);
  }
}
.intro__anim img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
}
.intro__anim:not(.orange-bg) img.head_img_or {
  display: none !important;
}
.intro__anim.orange-bg::before {
  width: 800px;
}
@media (max-width: 1919px) {
  .intro__anim.orange-bg::before {
    width: 670px;
  }
}
@media (max-width: 1279px) {
  .intro__anim.orange-bg::before {
    width: 560px;
  }
}
@media (max-width: 639px) {
  .intro__anim.orange-bg::before {
    width: 290px;
  }
}
.intro__anim.orange-bg::after {
  background-color: var(--orange-theme);
  width: 864px;
}
@media (max-width: 1919px) {
  .intro__anim.orange-bg::after {
    width: 710px;
  }
}
@media (max-width: 1279px) {
  .intro__anim.orange-bg::after {
    width: 600px;
  }
}
@media (max-width: 639px) {
  .intro__anim.orange-bg::after {
    width: 330px;
  }
}
.intro__anim.orange-bg img.head_img {
  display: none !important;
}
@media (max-width: 1919px) {
  .intro__anim {
    width: 456px;
    height: 670px;
    padding: 55px;
  }
}
@media (max-width: 1279px) {
  .intro__anim {
    width: 436px;
    height: 560px;
    padding: 27px 61px;
    bottom: auto;
    top: 130px;
    transform: translate(-50%, 0%);
  }
}
@media (max-width: 639px) {
  .intro__anim {
    width: 210px;
    height: 290px;
    padding: 20px 35px;
    bottom: auto;
    top: 85px;
  }
}
.intro__anim .head_3d {
  width: calc(100% + 120px);
  height: 100%;
  position: absolute;
  left: -60px;
  top: 0;
  z-index: 3;
}
.intro__anim .head_3d canvas {
  width: 100%;
  height: 100%;
}
.intro__point {
  position: absolute;
  z-index: 11;
  top: 50%;
  right: 300px;
  width: 69px;
  height: 69px;
  border: 1px solid var(--orange-theme);
  border-radius: 50%;
  cursor: pointer;
}
@media (max-width: 1279px) {
  .intro__point {
    display: none;
  }
}
.intro__point:hover {
  opacity: 0.7;
}
.intro__point::before {
  content: "";
  background-color: var(--orange-theme);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.intro__socials {
  position: absolute;
  top: 50%;
  right: 0;
  transform-origin: 50% 50%;
  transform: rotate(90deg) translate(0px, -105px);
  display: flex;
  align-items: center;
}
@media (max-width: 1279px) {
  .intro__socials {
    display: none;
  }
}
.intro__socials a {
  display: block;
  margin-left: 50px;
  font-size: 14px;
  font-weight: 300;
  color: var(--light-theme-light-text);
}
.intro__socials a:first-child {
  margin-left: 0;
}
.intro__socials a:hover {
  opacity: 0.7;
}/*# sourceMappingURL=intro.css.map */