.intro {
  min-height: 100vh;
  display: flex;
  position: relative;

  @media (max-width: 1279px) {
    min-height: 1050px;
  }

  @media (max-width: 639px) {
    min-height: 620px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    min-height: 100%;
  }

  &__inner {
    padding-left: 94px;
    padding-bottom: 140px;

    @media (max-width: 1279px) {
      padding-left: 0;
      padding-bottom: 60px;
    }

    @media (max-width: 639px) {
      padding-left: 0;
      padding-bottom: 62px;
    }
  }

  &__title {
    font-family: "Gravitas One";
    font-size: 101px;
    line-height: 100%;
    letter-spacing: -0.05em;
    font-weight: 400;

    @media (max-width: 1279px) {
      font-size: 80px;
    }

    @media (max-width: 639px) {
      font-size: 46px;
    }
  }

  &__subtitle {
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.01em;
    font-weight: 300;
    margin-top: 20px;

    @media (max-width: 1239px) {
      font-size: 26px;
    }

    @media (max-width: 639px) {
      font-size: 24px;
      margin-top: 10px;
    }
  }

  &__anim {
    position: absolute;
    left: 50%;
    bottom: 100px;
    width: 470px;
    height: 800px;
    z-index: -1;
    padding: 60px 40px;
    transform: translate(-50%, 0%);
    &::before{
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 2;
      background: url("../../../images/cross.png") 0 0 / 15px 15px no-repeat,
      url("../../../images/cross.png") 0 100% / 15px 15px no-repeat,
      url("../../../images/cross.png") 100% 0 / 15px 15px no-repeat,
      url("../../../images/cross.png") 100% 100% / 15px 15px no-repeat;
    }
    &::after{
      content: "";
      display: block;
      width: calc(100% + 64px);
      height: calc(100% + 64px);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 1;
      @media (max-width: 1919px) {
        width: calc(100% + 40px);
      }
    }

    img {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 3;
    }

    &:not(.orange-bg){
      img {
        &.head_img_or{
          display: none !important;
        }
      }
    }
    &.orange-bg{
      &::before{
        width: 800px;
        @media (max-width: 1919px) {
          width: 670px;
        }
        @media (max-width: 1279px) {
          width: 560px;
        }
        @media (max-width: 639px) {
          width: 290px;
        }
      }
      &::after{
        background-color: var(--orange-theme);
        width: 864px;
        @media (max-width: 1919px) {
          width: 710px;
        }
        @media (max-width: 1279px) {
          width: 600px;
        }
        @media (max-width: 639px) {
          width: 330px;
        }
      }
      img {
        &.head_img{
          display: none !important;
        }
      }
    }
    @media (max-width: 1919px) {
      width: 456px;
      height: 670px;
      padding: 55px;
      bottom: 90px;
    }

    @media (max-width: 1279px) {
      width: 436px;
      height: 560px;
      padding: 27px 61px;
      bottom: auto;
      top: 130px;
    }

    @media (max-width: 639px) {
      width: 210px;
      height: 290px;
      padding: 20px 35px;
      bottom: auto;
      top: 85px;
    }


    .head_3d{
      width: calc(100% + 40px);
      height: 100%;
      position: absolute;
      left: -20px;
      top: 0;
      z-index: 3;
      canvas{
        width: 100%;
        height: 100%;
      }
    }
  }

  &__point {
    position: absolute;
    z-index: 11;
    top: 50%;
    right: 300px;
    width: 69px;
    height: 69px;
    border: 1px solid var(--orange-theme);
    border-radius: 50%;
    cursor: pointer;

    @media (max-width: 1279px) {
      display: none;
    }

    &:hover {
      opacity: 0.7;
    }

    &::before {
      content: "";
      background-color: var(--orange-theme);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
  }

  &__socials {
    position: absolute;
    top: 50%;
    right: 0;
    transform-origin: 50% 50%;
    transform: rotate(90deg) translate(0px, -105px);
    display: flex;
    align-items: center;

    @media (max-width: 1279px) {
      display: none;
    }

    a {
      display: block;
      margin-left: 50px;
      font-size: 14px;
      font-weight: 300;
      color: var(--light-theme-light-text);

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}