.projects {
  margin-top: 125px;
}
@media (max-width: 1919px) {
  .projects {
    margin-top: 176px;
  }
}
@media (max-width: 1279px) {
  .projects {
    margin-top: 75px;
  }
}
@media (max-width: 639px) {
  .projects {
    margin-top: 55px;
  }
}
.projects__title {
  margin-left: 760px;
  margin-bottom: 90px;
}
@media (max-width: 1919px) {
  .projects__title {
    margin-left: 124px;
  }
}
@media (max-width: 1279px) {
  .projects__title {
    margin-bottom: 43px;
  }
}
@media (max-width: 992px) {
  .projects__title {
    margin-left: 0;
  }
}
@media (max-width: 639px) {
  .projects__title {
    margin-bottom: 27px;
  }
}
.projects__title span {
  font-weight: 700 !important;
}

.list-projects {
  position: relative;
}
.list-projects ul {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-projects li {
  max-width: 1740px;
  position: relative;
  margin-bottom: 20px;
  transition: color 0.3s;
  padding-left: 760px;
}
@media (max-width: 1919px) {
  .list-projects li {
    padding-left: 124px;
    padding-right: 140px;
  }
}
@media (max-width: 992px) {
  .list-projects li {
    padding-left: 0;
    padding-right: 0;
  }
}
.list-projects__image {
  width: 550px;
  height: 300px;
  height: auto;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 100px;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
}
@media (max-width: 1919px) {
  .list-projects__image {
    width: 400px;
    height: 220px;
    left: auto;
    right: 0;
  }
}
@media (max-width: 1279px) {
  .list-projects__image {
    display: none;
  }
}
.list-projects__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.list-projects__name {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  position: relative;
  padding-left: 40px;
  margin-top: 25px;
  transition: all 0.3s ease 0s;
}
@media (max-width: 1279px) {
  .list-projects__name {
    padding-left: 35px;
  }
}
@media (max-width: 992px) {
  .list-projects__name {
    gap: 6px;
    flex-wrap: wrap;
  }
}
.list-projects__name.hovered .list-projects__title {
  /* a {
    color: var(--orange-theme);

    @media (max-width: 1279px) {
      color: var(--light-theme-dark-text);
    }
  } */
}
.list-projects__name.hovered + .list-projects__image {
  opacity: 1;
}
@media (max-width: 992px) {
  .list-projects__title {
    flex: 1 1 100%;
  }
}
.list-projects__title a {
  position: relative;
  transition: all 0.3s ease 0s;
  color: var(--light-theme-dark-text);
  font-weight: 300;
  font-size: 32px;
  letter-spacing: -0.01em;
}
@media (max-width: 1279px) {
  .list-projects__title a {
    font-size: 26px;
  }
}
@media (max-width: 639px) {
  .list-projects__title a {
    font-size: 22px;
  }
}
.list-projects__title:hover a {
  color: var(--orange-theme);
}
.list-projects__subtitle {
  color: var(--light-theme-light-text);
  font-size: 21px;
  font-weight: 300;
  line-height: 117%;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
}
@media (min-width: 1279px) {
  .list-projects__subtitle {
    margin-top: 7px;
  }
}
.list-projects__subtitle:hover {
  color: var(--orange-theme);
}
@media (max-width: 1279px) {
  .list-projects__subtitle {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .list-projects__subtitle {
    flex: 1 1 100%;
  }
}
.list-projects__date-mark {
  position: absolute;
  left: 760px;
  transform-origin: 50% 115%;
  transform: translate(9px, 0) rotate(-90deg);
  font-size: 21px;
  font-weight: 300;
  color: var(--light-theme-light-text);
}
@media (max-width: 1919px) {
  .list-projects__date-mark {
    left: 110px;
  }
}
@media (max-width: 992px) {
  .list-projects__date-mark {
    left: 0;
    font-size: 18px;
  }
}
@media (max-width: 639px) {
  .list-projects__date-mark {
    transform-origin: 45% 145%;
  }
}
.list-projects__inprocess {
  color: var(--light-theme-progress-text);
  padding: 5px 12px;
  border: 1px solid var(--light-theme-progress-border);
  margin-left: 15px;
  font-weight: 300;
  white-space: nowrap;
}
@media (max-width: 992px) {
  .list-projects__inprocess {
    margin-left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media (max-width: 639px) {
  .list-projects__inprocess {
    position: relative;
  }
}
.list-projects__more-btn {
  position: relative;
  margin-top: 50px;
  margin-left: 760px;
  padding-left: 50px;
  font-size: 21px;
  color: var(--light-theme-light-text);
  display: block;
  font-weight: 300;
}
@media (max-width: 1919px) {
  .list-projects__more-btn {
    margin-left: 110px;
  }
}
@media (max-width: 992px) {
  .list-projects__more-btn {
    margin-left: 0;
    font-size: 18px;
  }
}
.list-projects__more-btn:hover span {
  color: var(--light-theme-grey-bg);
}
.list-projects__more-btn span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: var(--light-theme-dark-text);
  transform: translate(0, -50%);
  color: var(--light-theme-dark-text);
  transition: color 0.3s;
}
.list-projects__more-btn span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: var(--light-theme-grey-bg);
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
  transition: all 0.3s ease 0s;
  z-index: -1;
}
.list-projects__more-btn span::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-color: var(--light-theme-dark-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.list-projects__more-btn span svg {
  color: inherit;
  width: 16px;
  height: 16px;
  position: relative;
  z-index: 2;
}
.list-projects__more-btn span svg * {
  color: inherit;
}
@media (max-width: 639px) {
  .list-projects__more-btn span {
    top: 0;
    transform: translate(0, 0);
  }
}
.list-projects__more-btn:hover span::before {
  opacity: 1;
  width: 46px;
  height: 46px;
}/*# sourceMappingURL=projects.css.map */