.header {
  position: absolute;
  z-index: 12;
  top: 0;
  left: 0;
  width: 100%;
  /*@media (max-width: 1279px) {
    position: fixed;
    background-color: var(--light-theme-bg);
  }*/
  a {
    &:hover {
      color: var(--orange-theme);
    }
  }

  * {
    font-family: "Pragmatica";
    font-size: 21px;
    line-height: 117%;
    letter-spacing: -0.01em;
    font-weight: 300;
    @media (max-width: 639px) {
      font-size: 32px;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 20px;

    @media (max-width: 1919px) {
      padding-top: 10px;
    }

    @media (max-width: 1279px) {
      padding-top: 0;
    }

    @media (max-width: 639px) {
      justify-content: space-between;
    }
  }

  &__logo {
    flex: 0 1 760px;

    @media (max-width: 1279px) {
      flex: 0 1 33.333%;
    }

    &-inner {
      width: 136px;
      margin-top: 15px;
      @media (max-width: 1279px) {
        width: 120px;
      }

      @media (max-width: 639px) {
        width: 95px;
        margin-top: 13px;
      }

      svg {
        width: 100%;
      }
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    position: relative;

    @media (max-width: 1279px) {
      flex: 0 1 32.5%;
      justify-content: center;
      z-index: 111;
    }
  }

  &__options-btn {
    min-width: 30px;
    min-height: 30px;
    background-color: var(--light-theme-grey-bg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: var(--light-theme-input-header-bg-hover);
      /* svg rect {
        fill: var(--light-theme-bg);
      } */
    }

    @media (max-width: 1279px) {
      width: 33px;
      height: 32px;
      background-color: var(--light-theme-bg);
      display: none;
    }
  }

  &__widget{
    margin-left: 20px;
    flex: 1 1 auto;
    position: relative;
    @media (max-width: 1279px) {
      margin-left: 10px;
      margin-top: 15px;
    }

    &-inner{
      position: relative;

      overflow: hidden;
      display: flex;
      flex-direction: column;
    }
    &-background{
      background: rgba(0, 0, 0, 0.3);
      opacity: 0;
      transition: opacity 0.2s ease;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
    &--btn{
      @media (max-width: 639px) {
        display: none;
      }
    }

    &--news{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100vw;
      height: 100dvh;
      margin: 0;
      display: none;
      justify-content: center;
      box-sizing: border-box;
      z-index: 11;
      @media (max-width: 639px) {
        padding: 0 !important;
      }
      .header__news-wrapper{
        display: flex;
        flex-direction: column;
        background-color: var(--light-theme-grey-bg);
        position: relative;
        z-index: 2;
        @media (max-width: 639px) {
          width: 100% !important;
        }
      }
      .header__search svg{
        width: 10px;
        height: 10px;
      }
    }
  }

  &__search {
    width: 100%;
    cursor: pointer;
    position: relative;
    min-height: 30px;
    background-color: var(--light-theme-grey-bg);
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: var(--light-theme-input-header-bg-hover);
    }

    &-text {
      width: 100%;
      height: 100%;
      background-color: transparent;
      padding: 0 16px;
      font-weight: 300;
      font-size: 14px;
      pointer-events: none;
      line-height: 30px;
      min-width: 179px;
      color: #555555;
    }

    &-btn {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translate(0, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    svg {
      display: block;
      width: 8px;
      height: 8px;
    }
  }

  &__nav {
    flex: 0 1 760px;
    display: flex;
    align-items: center;

    @media (max-width: 1279px) {
      justify-content: flex-end;
      flex: 1 1 auto;
    }
  }

  &__menu {
  }

  &__lang {
    .dropdown__btn {
      cursor: pointer;
      background-color: var(--light-theme-grey-bg);
      width: 33px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;

      @media (max-width: 1279px) {
        display: none;
      }
      a {
        font-size: 15px;
      }
    }

    .dropdown__menu {
      @media (max-width: 1279px) {
        display: none;
      }
    }

    .dropdown__menu-mobile.dropdown__menu {
      display: none;

      @media (max-width: 1279px) {
        display: flex;
        gap: 10px;
        position: relative;
        opacity: 1;
        visibility: visible;

        & .dropdown__btn {
          display: flex;
          background-color: var(--light-theme-bg);
          color: var(--light-theme-dark-grey);
          font-size: 15px;
          width: 33px;
          height: 32px;

          a {
            font-size: 15px;
          }

          &.active {
            background-color: var(--light-theme-dark-grey);
            a {
              color: var(--light-theme-bg);
            }
          }
        }
      }
    }
  }

  &__bottom-mob {
    @media (max-width: 1279px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .header__options-btn {
      display: none;

      @media (max-width: 1270px) {
        display: flex;
      }
    }
  }
}

.burder-header {
  display: none;

  @media (max-width: 1279px) {
    margin-top: 15px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--light-theme-grey-bg);

    span {
      display: block;
      width: 22px;
      height: 1px;
      background-color: var(--light-theme-dark-grey);
      margin-top: 4px;
      transition: all 0.3s ease 0s;
      top: 0;
      position: relative;

      &:first-child {
        margin-top: 0;
      }
    }

    &.active {
      span {
        &:nth-child(1) {
          transform: rotate(45deg);
          top: 6px;
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
          top: -4px;
        }
      }
    }
  }
  @media (max-width: 639px) {
    margin-top: 6px;
    width: 37px;
    height: 37px;
  }
}

.menu {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1279px) {
    position: fixed;
    z-index: 12;
    top: 85px;
    right: 130%;
    flex-direction: column;
    background-color: var(--light-theme-grey-bg);
    width: 300px;
    height: 500px;
    transition: all 0.3s ease 0s;
    height: 80vh;
    padding: 45px 20px;
    align-items: flex-start;
  }

  @media (max-width: 639px) {
    height: calc(100% - 77px);
    width: calc(100% - 20px);
    top: 67px;
    padding: 120px 20px 18px;
    .menu__dropdown .dropdown__menu > li a {
      font-size: 21px;
    }
    &::after{
      content: "";
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      background: var(--light-theme-bg);
      height: 11px;
      width: 100%;
    }
  }

  &.show {
    @media (max-width: 1279px) {
      right: 10px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    padding: 0 5px;

    @media (max-width: 1279px) {
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
    }

    @media (max-width: 992px) {
      justify-content: flex-start;
    }

    & > li {
      padding: 10px 0;
      margin-left: 25px;
      > a {
        color: var(--light-theme-light-text);
      }
      &.active {
        > a {
          color: var(--light-theme-dark-text);
        }
      }
      @media (max-width: 1919px) {
        padding: 0;
        margin-left: 27px;
      }

      @media (max-width: 1279px) {
        margin-left: 0;
        padding: 6px 0;
      }

      &:first-child {
        margin-left: 0px;
      }
    }
  }

  a {
    cursor: pointer;
  }

  &__dropdown {
    .dropdown__menu {
      background-color: var(--light-theme-grey-bg);
      padding: 20px;

      & > li {
        margin-top: 10px;

        &:first-child {
          margin-top: 0px;
        }
      }
    }
  }
}

@media (max-width: 1919px) {
  .menu {
    & > li {
      margin-left: 27px;

      &:first-child {
        margin-left: 0px;
      }
    }
  }
}

@media (max-width: 1279px) {
  .menu {
    & > li {
      padding: 10px 0;
      margin-left: 25px;

      &:first-child {
        margin-left: 0px;
      }
    }

    &__dropdown {
      .dropdown__menu {
        padding: 20px;

        @media (max-width: 1279px) {
          padding: 10px 10px 0px 40px;
        }

        & > li {
          margin-top: 3px;

          &:first-child {
            margin-top: 0px;
          }
        }
      }
    }
  }
}

.lang__dropdown {
  color: var(--light-theme-dark-grey);
}

.dropdown {
  position: relative;

  &__menu {
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;

    @media (max-width: 1279px) {
      position: relative;
      top: 0;
      opacity: 1;
      visibility: visible;
      display: none;
    }
  }

  &:hover .dropdown__menu {
    opacity: 1;
    visibility: visible;

    @media (max-width: 1279px) {
      display: block;
    }
  }
}
#headerOptions #burderHeader1 {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  @media (max-width: 1279px) {
    display: block;
    transition: all 0.3s ease 0s;
    width: 37px;
    height: 37px;
    margin-top: 0;
    width: 37px;
    height: 37px;
    span:nth-child(1) {
      transform: translate(0, -50%) rotate(45deg);
      top: 50%;
      left: 22%;
    }
    span:nth-child(3) {
      transform: translate(0, -50%) rotate(-45deg);
      top: 23%;
      left: 23%;
    }
  }
}

.homepage {
  header.header {
    ul.menu__list {
      li {
        > a {
          color: var(--light-theme-dark-text);
        }
        a {
          &:hover {
            color: var(--orange-theme);
          }
        }
      }
    }
  }
}

.header-news-btn-mobile {
  display: none;
  @media (max-width: 1279px){
      display: block;
  }
}

.header__news-wrapper {

}
.header__news {
  padding: 8px;
  display: none;

  &-scroll{
    overflow: auto;
    height: 100%;
  }
  &-img {
    position: relative;
    padding-top: 67%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h3  {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 21px;
    font-weight: 300;
    color: #212121;
  }
  p {
    font-size: 14px;
    font-weight: 300;
    color: #555555;
  }
  &-telegram-link {
    display: inline-flex;
    align-items: center;
    margin-top: 11px;
    transition: all 0.3s ease 0s;
    border-bottom: 1px solid #AAAAAA;
    color: #212121;
    padding-bottom: 4px;
    &:hover{
      color: #212121!important;
      border-bottom: 1px solid #818181;
      color: inherit;
    }
    span {
      margin-left: 6px;
      display: block;
      color: #555555;
      font-size: 14px;
      font-weight: 300;
    }
  }
  li {
    margin-top: 40px;
    &:first-child{
      margin-top: 0;
    }
  }
}