.contacts-page {
  font-weight: 300;
  font-size: 21px;
}
@media (max-width: 1919px) {
  .contacts-page {
    padding-bottom: 174px;
  }
}
@media (max-width: 1279px) {
  .contacts-page {
    padding-bottom: 86px;
    font-size: 18px;
  }
}
@media (max-width: 639px) {
  .contacts-page {
    padding-top: 107px;
    padding-bottom: 48px;
  }
}
.contacts-page__content {
  margin-top: 110px;
}
@media (max-width: 1919px) {
  .contacts-page__content {
    margin-top: 134px;
  }
}
@media (max-width: 1279px) {
  .contacts-page__content {
    margin-top: 98px;
  }
}
@media (max-width: 639px) {
  .contacts-page__content {
    margin-top: 60px;
  }
}
.contacts-page__row {
  display: flex;
}
.contacts-page__left {
  flex: 0 1 40%;
}
@media (max-width: 1279px) {
  .contacts-page__left {
    flex: 1 1 100%;
  }
}
.contacts-page__right {
  flex: 0 1 60%;
}
@media (max-width: 1279px) {
  .contacts-page__right {
    flex: 1 1 100%;
  }
}
.contacts-page__right ul li a {
  position: relative;
  display: inline-block;
  padding-left: 36px;
}
.contacts-page__right ul li a::before, .contacts-page__right ul li a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translate(-50%, -50%);
}
.contacts-page__right ul li a::before {
  width: 22px;
  height: 22px;
  background-color: var(--light-theme-banner);
  z-index: 2;
}
.contacts-page__right ul li a::after {
  width: 46px;
  height: 46px;
  background-color: var(--light-theme-form);
  opacity: 0;
  z-index: 1;
  transition: all 0.3s ease 0s;
}
.contacts-page__right ul li a:hover::after {
  opacity: 1;
}
.contacts-page__email {
  margin-top: 80px;
}
@media (max-width: 1919px) {
  .contacts-page__email {
    margin-top: 84px;
  }
}
@media (max-width: 1279px) {
  .contacts-page__email {
    margin-top: 69px;
  }
}
@media (max-width: 639px) {
  .contacts-page__email {
    margin-top: 34px;
  }
}
@media (max-width: 639px) {
  .contacts-page__email li {
    margin-top: 21px;
  }
}
.contacts-page__phone {
  margin-top: 55px;
}
@media (max-width: 1919px) {
  .contacts-page__phone {
    margin-top: 48px;
  }
}
@media (max-width: 1279px) {
  .contacts-page__phone {
    margin-top: 39px;
  }
}
@media (max-width: 639px) {
  .contacts-page__phone {
    margin-top: 38px;
  }
}
.contacts-page__phone li {
  margin-top: 44px;
}
.contacts-page__phone li:first-child {
  margin-top: 0;
}
@media (max-width: 1919px) {
  .contacts-page__phone li {
    margin-top: 48px;
  }
}
@media (max-width: 1279px) {
  .contacts-page__phone li {
    margin-top: 39px;
  }
}
@media (max-width: 639px) {
  .contacts-page__phone li {
    margin-top: 24px;
  }
  .contacts-page__phone li:first-child {
    margin-top: 24px;
  }
}
.contacts-page__question {
  margin-top: 112px;
}
@media (max-width: 1279px) {
  .contacts-page__question {
    margin-top: 104px;
  }
}
@media (max-width: 639px) {
  .contacts-page__question {
    margin-top: 60px;
  }
}

.address-contacts-page__info span {
  display: inline-block;
}
.address-contacts-page__info span:first-child {
  margin-right: 25px;
}
.address-contacts-page__title {
  margin-top: 10px;
  margin-bottom: 12px;
}
@media (max-width: 1919px) {
  .address-contacts-page__title {
    margin-top: 10px;
    margin-bottom: 18px;
  }
}
@media (max-width: 1919px) {
  .address-contacts-page__title span {
    font-size: 52px !important;
  }
}
@media (max-width: 1279px) {
  .address-contacts-page__title span {
    font-size: 50px !important;
  }
}
@media (max-width: 639px) {
  .address-contacts-page__title span {
    font-size: 28px !important;
  }
}
.address-contacts-page__title span {
  display: inline;
}
@media (max-width: 1279px) {
  .address-contacts-page .contacts-page__row {
    flex-wrap: wrap;
  }
  .address-contacts-page .contacts-page__row > * {
    flex: 1 1 100%;
  }
  .address-contacts-page .contacts-page__row .contacts-page__right {
    margin-top: 50px;
  }
}
@media (max-width: 1279px) and (max-width: 639px) {
  .address-contacts-page .contacts-page__row .contacts-page__right {
    margin-top: 22px;
  }
}
@media (max-width: 639px) {
  .address-contacts-page .contacts-page__right {
    margin-top: 30px;
  }
}

@media (max-width: 1279px) {
  .email-contacts-page .contacts-page__row > * {
    flex: 0 1 50%;
  }
}
@media (max-width: 639px) {
  .email-contacts-page .contacts-page__row {
    flex-wrap: wrap;
  }
  .email-contacts-page .contacts-page__row > * {
    flex: 0 1 100%;
  }
}

@media (max-width: 1279px) {
  .phone-contacts-page .contacts-page__row > * {
    flex: 0 1 50%;
  }
}
@media (max-width: 639px) {
  .phone-contacts-page .contacts-page__row {
    flex-wrap: wrap;
  }
  .phone-contacts-page .contacts-page__row > * {
    flex: 0 1 100%;
  }
}

.map-contacts-page {
  margin-top: 80px;
}
@media (max-width: 1279px) {
  .map-contacts-page {
    margin-top: 62px;
  }
}
@media (max-width: 639px) {
  .map-contacts-page {
    margin-top: 30px;
  }
}
.map-contacts-page__info {
  position: relative;
  padding-top: 59%;
}
@media (max-width: 1919px) {
  .map-contacts-page__info {
    padding-top: 59%;
    min-height: 437px;
  }
}
@media (max-width: 1279px) {
  .map-contacts-page__info {
    padding-top: 59%;
    min-height: 368px;
  }
}
@media (max-width: 639px) {
  .map-contacts-page__info {
    padding-top: 59%;
    min-height: 500px;
    min-height: 80vh;
  }
}
.map-contacts-page__info iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1279px) {
  .map-contacts-page .contacts-page__row {
    flex-wrap: wrap;
  }
  .map-contacts-page .contacts-page__row > * {
    flex: 0 1 100%;
  }
}

.question-contacts-page__form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.question-contacts-page__inputs {
  flex: 0 0 calc(33.333% - 10px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1919px) {
  .question-contacts-page__inputs {
    flex-basis: 360px;
  }
}
.question-contacts-page__input {
  background-color: var(--light-theme-form);
  padding: 21px 30px;
  color: var(--light-theme-dark-text);
  font-size: 21px;
  font-weight: 300;
}
@media (max-width: 1279px) {
  .question-contacts-page__input {
    font-size: 18px;
  }
}
.question-contacts-page__input::-moz-placeholder {
  color: var(--light-theme-dark-text);
  font-family: "Pragmatica";
  font-weight: 300;
}
.question-contacts-page__input::placeholder {
  color: var(--light-theme-dark-text);
  font-family: "Pragmatica";
  font-weight: 300;
}
.question-contacts-page__textarea {
  flex: 0 0 calc(66.666% - 10px);
}
@media (max-width: 1919px) {
  .question-contacts-page__textarea {
    flex-basis: 100%;
  }
}
.question-contacts-page__textarea textarea {
  color: var(--light-theme-dark-text);
  padding: 21px 30px;
  font-weight: 300;
  min-height: 320px;
  width: 100%;
  background-color: var(--light-theme-form);
  font-size: 21px;
}
@media (max-width: 1279px) {
  .question-contacts-page__textarea textarea {
    font-size: 18px;
  }
}
.question-contacts-page__textarea textarea::-moz-placeholder {
  color: var(--light-theme-dark-text);
  font-weight: 300;
}
.question-contacts-page__textarea textarea::placeholder {
  color: var(--light-theme-dark-text);
  font-weight: 300;
}
.question-contacts-page__textarea-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  gap: 20px;
  width: 66.666%;
}
@media (max-width: 1919px) {
  .question-contacts-page__textarea-footer {
    flex-basis: 100%;
    margin-top: 0;
    width: auto;
  }
}
@media (max-width: 639px) {
  .question-contacts-page__textarea-footer {
    flex-wrap: wrap;
    gap: 10px;
  }
}
.question-contacts-page__textarea-footer label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--light-theme-light-text);
  cursor: pointer;
}
.question-contacts-page__textarea-footer input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  width: 21px;
  height: 21px;
  border: 1px solid var(--light-theme-dark-text);
  margin-right: 10px;
}
.question-contacts-page__textarea-footer input[type=checkbox]:checked::before {
  background: url("../../images/arrow-checkbox.svg") 0 0/100% 100% no-repeat;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  font-size: 18px;
}
.question-contacts-page__textarea-footer button {
  width: 300px;
  padding: 11px;
  background-color: var(--light-theme-dark-text);
  color: var(--dark-theme-light-text);
}
@media (max-width: 1279px) {
  .question-contacts-page__textarea-footer button {
    width: 50%;
  }
}
@media (max-width: 639px) {
  .question-contacts-page__textarea-footer button {
    width: 100%;
  }
}
@media (max-width: 1279px) {
  .question-contacts-page .contacts-page__row {
    flex-wrap: wrap;
  }
  .question-contacts-page .contacts-page__row > * {
    flex: 0 1 100%;
  }
  .question-contacts-page .contacts-page__row .contacts-page__right {
    margin-top: 50px;
  }
  .question-contacts-page .question-contacts-page__form {
    flex-wrap: wrap;
  }
  .question-contacts-page .question-contacts-page__form > * {
    flex: 0 1 100%;
  }
  .question-contacts-page .question-contacts-page__form .question-contacts-page__inputs {
    flex: 0 1 50%;
  }
}
@media (max-width: 639px) {
  .question-contacts-page .contacts-page__row .contacts-page__right {
    margin-top: 20px;
  }
  .question-contacts-page .question-contacts-page__form .question-contacts-page__inputs {
    flex: 0 1 100%;
  }
}/*# sourceMappingURL=contacts-page.css.map */