.contacts-page {
  font-weight: 300;
  font-size: 21px;

  @media (max-width: 1919px) {
    padding-bottom: 174px;
  }

  @media (max-width: 1279px) {
    padding-bottom: 86px;
    font-size: 18px;
  }

  @media (max-width: 639px) {
    padding-top: 107px;
    padding-bottom: 48px;
  }

  &__content {
    margin-top: 110px;

    @media (max-width: 1919px) {
      margin-top: 134px;
    }

    @media (max-width: 1279px) {
      margin-top: 98px;
    }

    @media (max-width: 639px) {
      margin-top: 60px;
    }
  }

  &__row {
    display: flex;
  }

  &__left {
    flex: 0 1 40%;

    @media (max-width: 1279px) {
      flex: 1 1 100%;
    }
  }

  &__right {
    flex: 0 1 60%;

    @media (max-width: 1279px) {
      flex: 1 1 100%;
    }

    ul {
      li {
        a {
          position: relative;
          display: inline-block;
          padding-left: 36px;

          &::before,
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 8px;
            transform: translate(-50%, -50%);
          }

          &::before {
            width: 22px;
            height: 22px;
            background-color: var(--light-theme-banner);
            z-index: 2;
          }

          &::after {
            width: 46px;
            height: 46px;
            background-color: var(--light-theme-form);
            opacity: 0;
            z-index: 1;
            transition: all 0.3s ease 0s;
          }

          &:hover {
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &__address {}

  &__email {
    margin-top: 80px;

    @media (max-width: 1919px) {
      margin-top: 84px;
    }

    @media (max-width: 1279px) {
      margin-top: 69px;
    }

    @media (max-width: 639px) {
      margin-top: 34px;
    }

    li {
      @media (max-width: 639px) {
        margin-top: 21px;
      }
    }
  }

  &__phone {
    margin-top: 55px;

    @media (max-width: 1919px) {
      margin-top: 48px;
    }

    @media (max-width: 1279px) {
      margin-top: 39px;
    }

    @media (max-width: 639px) {
      margin-top: 38px;
    }

    li {
      margin-top: 44px;

      &:first-child {
        margin-top: 0;
      }

      @media (max-width: 1919px) {
        margin-top: 48px;
      }

      @media (max-width: 1279px) {
        margin-top: 39px;
      }

      @media (max-width: 639px) {
        margin-top: 24px;

        &:first-child {
          margin-top: 24px;
        }
      }
    }
  }

  &__map {}

  &__question {
    margin-top: 112px;

    @media (max-width: 1279px) {
      margin-top: 104px;
    }

    @media (max-width: 639px) {
      margin-top: 60px;
    }
  }
}

.address-contacts-page {
  &__info {
    span {
      display: inline-block;

      &:first-child {
        margin-right: 25px;
      }
    }
  }

  &__title {
    margin-top: 10px;
    margin-bottom: 12px;

    @media (max-width: 1919px) {
      font-size: 52px;
      margin-top: 10px;
      margin-bottom: 18px;
    }

    @media (max-width: 1279px) {
      font-size: 50px;
    }

    @media (max-width: 639px) {
      font-size: 28px;
    }
    span {
      display: inline;
    }
  }

  @media (max-width: 1279px) {
    .contacts-page__row {
      flex-wrap: wrap;

      >* {
        flex: 1 1 100%;
      }

      .contacts-page__right {
        margin-top: 50px;

        @media (max-width: 639px) {
          margin-top: 22px;
        }
      }
    }
  }

  @media (max-width: 639px) {
    .contacts-page__right {
      margin-top: 30px;
    }
  }
}

.email-contacts-page {
  &__info {}

  @media (max-width: 1279px) {
    .contacts-page__row {
      >* {
        flex: 0 1 50%;
      }
    }
  }

  @media (max-width: 639px) {
    .contacts-page__row {
      flex-wrap: wrap;

      >* {
        flex: 0 1 100%;
      }
    }
  }
}

.phone-contacts-page {
  &__info {}

  @media (max-width: 1279px) {
    .contacts-page__row {
      >* {
        flex: 0 1 50%;
      }
    }
  }

  @media (max-width: 639px) {
    .contacts-page__row {
      flex-wrap: wrap;

      >* {
        flex: 0 1 100%;
      }
    }
  }
}

.map-contacts-page {
  margin-top: 80px;

  @media (max-width: 1279px) {
    margin-top: 62px;
  }

  @media (max-width: 639px) {
    margin-top: 30px;
  }

  &__info {
    position: relative;
    padding-top: 59%;

    @media (max-width: 1919px) {
      padding-top: 59%;
      min-height: 437px;
    }

    @media (max-width: 1279px) {
      padding-top: 59%;
      min-height: 368px;
    }

    @media (max-width: 639px) {
      padding-top: 59%;
      min-height: 500px;
    min-height: 80vh;

    }

    iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  @media (max-width: 1279px) {
    .contacts-page__row {
      flex-wrap: wrap;

      >* {
        flex: 0 1 100%;
      }
    }
  }
}

.question-contacts-page {
  &__info {}

  &__form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__inputs {
    flex: 0 0 calc(33.333% - 10px);
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: 1919px) {
      flex-basis: 360px;
    }
  }

  &__input {
    background-color: var(--light-theme-form);
    padding: 21px 30px;
    color: var(--light-theme-dark-text);
    font-size: 21px;
    font-weight: 300;

    @media (max-width: 1279px) {
      font-size: 18px;
    }
  }

  &__input::placeholder {
    color: var(--light-theme-dark-text);
    font-family: "Pragmatica";
    font-weight: 300;
  }

  &__textarea {
    flex: 0 0 calc(66.666% - 10px);

    @media (max-width: 1919px) {
      flex-basis: 100%;
    }

    textarea {
      color: var(--light-theme-dark-text);
      padding: 21px 30px;
      font-weight: 300;
      min-height: 320px;
      width: 100%;
      background-color: var(--light-theme-form);
      font-size: 21px;

      @media (max-width: 1279px) {
        font-size: 18px;
      }
    }

    textarea::placeholder {
      color: var(--light-theme-dark-text);
      font-weight: 300;
    }
  }

  &__textarea-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    gap: 20px;
    width: 66.666%;
    @media (max-width: 1919px) {
      flex-basis: 100%;
      margin-top: 0;
      width: auto;
    }

    @media (max-width: 639px) {
      flex-wrap: wrap;
      gap: 10px;
    }

    label {
      display: flex;
      align-items: center;
      font-family: Arial, sans-serif;
      font-size: 14px;
      color: var(--light-theme-light-text);
      cursor: pointer;
    }

    input[type="checkbox"] {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      position: relative;
      width: 21px;
      height: 21px;
      border: 1px solid var(--light-theme-dark-text);
      margin-right: 10px;
    }

    input[type="checkbox"]:checked::before {
      background: url("../../images/arrow-checkbox.png") 0 0 / 100% 100% no-repeat;
      content: "";
      position: absolute;
      top: 4px;
      left: 4px;
      width: 10px;
      height: 10px;
      font-size: 18px;
    }

    button {
      width: 300px;
      padding: 11px;
      background-color: var(--light-theme-dark-text);
      color: var(--dark-theme-light-text);

      @media (max-width: 1279px) {
        width: 50%;
      }

      @media (max-width: 639px) {
        width: 100%;
      }
    }
  }

  &__checkbox {}

  &__send-button {}

  @media (max-width: 1279px) {
    .contacts-page__row {
      flex-wrap: wrap;

      >* {
        flex: 0 1 100%;
      }

      .contacts-page__right {
        margin-top: 50px;
      }
    }

    .question-contacts-page__form {
      flex-wrap: wrap;

      >* {
        flex: 0 1 100%;
      }

      .question-contacts-page__inputs {
        flex: 0 1 50%;
      }
    }
  }

  @media (max-width: 639px) {
    .contacts-page__row {
      .contacts-page__right {
        margin-top: 20px;
      }
    }

    .question-contacts-page__form {
      .question-contacts-page__inputs {
        flex: 0 1 100%;
      }
    }
  }
}