.project-page {
  font-weight: 300;
  font-size: 21px;
  @media (max-width: 1279px) {
    font-size: 18px;
  }
  .project-page-spoiler-btn {
    display: none;
    @media (max-width: 639px) {
      background-color: var(--light-theme-grey-bg);
      padding: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.5s ease 0s;
      & + div {
        display: none;
      }
      &.show {
        margin-bottom: 12px;
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    & > span {
      position: absolute;
      bottom: -14px;
      right: 0;
      color: var(--light-theme-progress-text);
    }
  }
  &__title {
    font-size: 100px;
    @media (max-width: 1919px) {
      font-size: 84px;
    }
    @media (max-width: 1279px) {
      font-size: 50px;
    }
    @media (max-width: 639px) {
      font-size: 28px;
    }
  }
  &__block1 {
    margin-top: 120px;
    @media (max-width: 1279px) {
      margin-top: 50px;
    }
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    & > * {
      padding: 0 10px;
    }
  }
  &__date {
    flex: 0 1 10%;
    @media (max-width: 1279px) {
      flex: 1 1 100%;
    }
  }
  &__info {
    flex: 0 1 30%;
    @media (max-width: 1279px) {
      flex: 1 1 100%;
      margin-top: 25px;
    }
  }
  &__info-title {
    color: var(--light-theme-progress-text);
  }
  &__info-item {
    margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
  }
  &__info-list {
  }
  &__info-point {
    margin-top: 9px;
  }
  &__desc {
    flex: 0 1 60%;
    padding-top: 210px;
    @media (max-width: 1279px) {
      flex: 1 1 100%;
      margin-top: 50px;
      padding-top: 0;
    }
    @media (max-width: 639px) {
      margin-top: 30px;
    }
  }
  &__desc-row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    & > * {
      padding: 10px;
    }
  }
  &__desc-item {
    flex: 0 1 33.333%;
    padding: 7px;
    line-height: 120%;
    @media (max-width: 1279px) {
      flex: 0 1 50%;
    }
    @media (max-width: 639px) {
      flex: 1 1 100%;
      padding: 10px;
    }
  }
  &__block2 {
    margin-top: 40px;
    max-width: calc(60% - 10px);
    margin-left: auto;
    @media (max-width: 1279px) {
      margin-top: 25px;
      max-width: 100%;
    }
  }
  &__image {
    position: relative;
    padding-top: 52%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    &--big {
      padding-top: 66.6%;
      margin-top: 40px;
      @media (max-width: 1279px) {
        margin-top: 25px;
      }
      @media (max-width: 639px) {
        margin-top: 30px;
      }
      &:first-child {
        margin-top: 110px;
        @media (max-width: 1279px) {
          margin-top: 50px;
        }
        @media (max-width: 639px) {
          margin-top: 20px;
        }
      }
    }
    &--vertical {
      padding-top: 59%;
      flex: 0 0 40%;
      @media (max-width: 1919px) {
        flex: 0 0 50%;
        padding-top: 73.71%;
      }
      @media (max-width: 1279px) {
        flex: 1 1 100%;
        padding-top: 148.388%;
      }
    }
  }
  &__block3 {
    margin-top: 40px;
    @media (max-width: 1279px) {
      margin-top: 50px;
    }
    @media (max-width: 639px) {
      margin-top: 0;
    }
  }
  &__task {
  }
  &__task-title {
    flex: 0 1 40%;
    @media (max-width: 1279px) {
      flex: 1 1 100%;
    }
    @media (max-width: 639px) {
      display: none;
    }
  }
  &__task-desc {
    flex: 0 1 60%;
    @media (max-width: 1279px) {
      flex: 1 1 100%;
      margin-top: 25px;
    }
    @media (max-width: 639px) {
      margin-top: 30px;
    }
  }
  &__task-desc-row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    & > * {
      padding: 10px;
    }
  }
  &__task-desc-item {
    flex: 0 1 33.333%;
    line-height: 120%;
    @media (max-width: 1279px) {
      flex: 0 1 50%;
    }
  }
  &__block4 {
    margin-top: 40px;
    margin-bottom: 100px;
    @media (max-width: 1919px) {
      margin-bottom: 0;
    }
    @media (max-width: 1279px) {
      margin-top: 50px;
    }
    @media (max-width: 639px) {
      margin-top: 0;
    }
  }
  &__media {
  }
  &__media-title {
    flex: 0 1 40%;
    @media (max-width: 1279px) {
      flex: 1 1 100%;
    }
    @media (max-width: 639px) {
      display: none;
    }
  }
  &__media-desc {
    flex: 0 1 60%;
    @media (max-width: 1279px) {
      flex: 1 1 100%;
      margin-top: 25px;
    }
    @media (max-width: 639px) {
      margin-top: 30px;
    }
  }
  &__media-desc-row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    & > * {
      padding: 10px;
    }
  }
  &__media-desc-item {
    flex: 0 1 33.333%;
    @media (max-width: 1279px) {
      flex: 0 1 50%;
    }
    a {
      color: var(--light-theme-progress-text);
      padding: 20px 10px 20px 10px;
      margin: -20px -10px -20px -10px;
      margin-top: 10px;
      display: block;
      display: inline-flex;
      align-items: center;
      transition: all 0.3s ease 0s;
      span {
        width: 18px;
        height: 18px;
        display: inline-block;
        position: relative;
        margin-right: 18px;
        transition: all 0.3s ease 0s;
        background-color: var(--dark-theme-bg);
        &::before {
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: var(--light-theme-grey-bg);
          transition: all 0.3s ease 0s;
          z-index: -1;
        }
        &::after{
          content:'';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          background: url("../../images/arrow.svg") center / 8px 8px no-repeat;
          opacity: 0;
          transition: all 0.3s ease 0s;
        }
      }
      &:hover {
        color: var(--orange-theme);
        span {
          &::before {
            width: 46px;
            height: 46px;
          }
          &::after{
            content:'';
            opacity: 1;
          }
        }
      }
    }
  }
}
.project-page__quote {
}
.quote-project-page {
  margin-top: 110px;
  margin-bottom: 110px;
  @media (max-width: 1279px) {
    margin-top: 50px;
    margin-bottom: 0;
  }
  @media (max-width: 639px) {
    margin-top: 30px;
  }
  &__row {
    display: flex;
    @media (max-width: 1279px) {
      flex-wrap: wrap;
    }
  }
  &__text {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 1279px) {
      margin-bottom: 50px;
    }
    @media (max-width: 639px) {
      margin-bottom: 30px;
    }
    span {
      padding: 95px 103px;
      display: block;
      max-width: 50%;
      background: url("../../images/cross.png") 0 0 / 15px 15px no-repeat,
        url("../../images/cross.png") 0 100% / 15px 15px no-repeat,
        url("../../images/cross.png") 100% 0 / 15px 15px no-repeat,
        url("../../images/cross.png") 100% 100% / 15px 15px no-repeat;
      @media (max-width: 1919px) {
        max-width: 432px;
        padding: 65px;
      }
      @media (max-width: 1279px) {
        max-width: 100%;
        background: url("../../images/cross.png") 0 0 / 15px 15px no-repeat,
          url("../../images/cross.png") 0 100% / 15px 15px no-repeat,
          url("../../images/cross.png") 50% 0% / 15px 15px no-repeat,
          url("../../images/cross.png") 50% 100% / 15px 15px no-repeat,
          url("../../images/cross.png") 100% 0 / 15px 15px no-repeat,
          url("../../images/cross.png") 100% 100% / 15px 15px no-repeat;
      }
      @media (max-width: 639px) {
        padding: 45px 30px;
      }
    }
    &--empty {
      margin: 0 !important;
      height: 0;
      span {
        background: none;
      }
    }
  }
}

.gallery {
  width: 1120px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 110px;
  @media (max-width: 1279px) {
    margin-top: 50px;
  }
  @media (max-width: 639px) {
    margin-top: 30px;
  }
  .swiper-container {
    overflow: hidden;
  }
  .swiper-slide-galary-container__image {
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .gallery-top {
    .swiper-slide {
      .swiper-slide-galary-container {
      }
      .swiper-slide-galary-container__image {
        padding-top: 66%;
      }
    }
  }
  .gallery-thumbs {
    margin-top: 20px;
    .swiper-slide {
      opacity: 0.4;
      cursor: pointer;
      .swiper-slide-galary-container {
      }
      .swiper-slide-galary-container__image {
        padding-top: 66%;
      }
      &.swiper-slide-thumb-active {
        opacity: 1;
      }
    }
  }
}
.video-block {
  width: 1120px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 110px;
  @media (max-width: 1279px) {
    margin-top: 50px;
  }
  @media (max-width: 639px) {
    margin-top: 30px;
  }
}
.video-block__container {
  position: relative;
  padding-top: 66%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.thumbnail-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play-button {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  background: url('../../images/play.svg') 0 0 / 100% 100% no-repeat;
  transition: all 0.3s ease 0s;
  width: 74px;
  height: 74px;
  &:hover{
    background: url('../../images/play-hovered.svg') 0 0 / 100% 100% no-repeat;
    width: 100px;
    height: 100px;
  }
}

iframe {
  display: none;
}
