.about-us-page {
  font-weight: 300;

  @media (max-width: 1919px) {
    padding-bottom: 160px;
  }

  @media (max-width: 1279px) {
    padding-top: 126px;
    padding-bottom: 75px;
  }

  @media (max-width: 639px) {
    padding-top: 107px;
    padding-bottom: 42px;
  }

  b {
    font-weight: 400;
  }

  p,
  span {
    font-size: 21px;
    line-height: 1.18em;
    letter-spacing: -0.01em;

    @media (max-width: 1279px) {
      font-size: 18px;
    }
  }

  &__title {
    text-indent: 250px;

    @media (max-width: 1919px) {
      text-indent: 0px;
    }
  }

  &__big-image {
    margin-top: 20px;
    position: relative;
    padding-top: 49%;

    @media (max-width: 639px) {
      margin-top: 12px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.sec1-about-us-page {
  margin-top: 120px;

  @media (max-width: 1919px) {
    margin-top: 100px;
  }

  @media (max-width: 1279px) {
    margin-top: 95px;
  }

  @media (max-width: 639px) {
    margin-top: 60px;
  }

  &__row {
    display: flex;

    @media (max-width: 1279px) {
      flex-wrap: wrap;
      gap: 25px;
    }

    @media (max-width: 639px) {
      gap: 17px;
    }
  }

  &__first-row {
    .sec1-about-us-page__row-inner {
      gap: 20px;

      @media (max-width: 639px) {
        flex-wrap: wrap;
      }

      p {
        @media (max-width: 1919px) {
          flex: 0 1 358px;
        }

        @media (max-width: 1279px) {
          flex: 0 1 calc(50% - 20px);
        }

        @media (max-width: 639px) {
          flex: 1 1 100%;
        }

        &:first-child {
          @media (max-width: 1919px) {
            order: -1;
            flex: 1 1 auto;
          }

          @media (max-width: 1279px) {
            display: none;
          }
        }
      }
    }
  }

  &__left {
    flex: 1 1 auto;
    letter-spacing: -0.01em;
  }

  &__right {
    flex: 0 0 1120px;

    @media (max-width: 1919px) {
      flex: 0 0 988px;
    }

    @media (max-width: 1279px) {
      flex: 1 1 100%;
    }
  }

  &__right-bigger-paragraph {
    font-size: 32px !important;
    line-height: 1em !important;
    padding-right: 7px;

    @media (max-width: 1279px) {
      font-size: 26px !important;
    }

    @media (max-width: 639px) {
      font-size: 22px !important;
    }

    &+div {
      margin-top: 30px;

      @media (max-width: 1279px) {
        margin-top: 25px;
      }

      @media (max-width: 639px) {
        margin-top: 20px;
      }
    }
  }

  &__row-inner {
    display: flex;
    gap: 20px;

    @media (max-width: 1279px) {
      gap: 20px;
    }

    @media (max-width: 639px) {
      flex-wrap: wrap;
      gap: 12px;
    }

    >p,
    >div {
      flex: 0 0 calc(33.333% - 20px);

      @media (max-width: 1919px) {
        flex: 0 0 358px;
      }

      @media (max-width: 1279px) {
        flex: 0 0 calc(50% - 20px);
      }

      @media (max-width: 639px) {
        flex: 1 1 100%;
      }

      &._last {
        @media (max-width: 1919px) {
          order: -1;
          flex: 1 1 auto;
        }

        @media (max-width: 1279px) {
          display: none;
        }
      }
    }
  }

  &__second-row {
    margin-top: 30px;

    @media (max-width: 1279px) {
      margin-top: 100px;

      p {
        letter-spacing: 0.004em;
      }
    }

    @media (max-width: 639px) {
      margin-top: 60px;
    }

    .sec1-about-us-page__right {
      &>div {
        margin-top: 20px;

        &:first-child {
          margin-top: 0;
        }
      }

      div:not(.sec1-about-us-page__row-inner) {
        @media (max-width: 1919px) {
          flex: 0 1 358px;
        }

        @media (max-width: 1279px) {
          flex: 0 1 calc(50% - 10px);
        }

        @media (max-width: 639px) {
          flex: 0 1 100%;
        }

        &:last-child {
          @media (max-width: 1919px) {
            order: -1;
            flex: 1 1 auto;
          }

          @media (max-width: 1279px) {
            display: none;
          }
        }
      }
    }
  }

  &__point {
    position: relative;
    padding-left: 60px;

    @media (max-width: 1279px) {
      padding-left: 36px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 22px;
      height: 22px;
      background-color: var(--dark-theme-bg);
    }
  }

  &__third-row {
    margin-top: 110px;

    @media (max-width: 639px) {
      margin-top: 60px;
    }

    span {
      display: block;
    }

    @media (max-width: 1919px) {
      margin-top: 118px;
    }

    @media (max-width: 1279px) {
      gap: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      margin-top: 102px;
    }

    @media (max-width: 639px) {
      grid-template-columns: 1fr 1fr;
      margin-top: 58px;
    }
    .sec1-about-us-page__right {
      flex: 0 1 747px;
      @media (max-width: 1919px) {
        flex: 0 1 736px;

        p {
          display: none;
        }

        .sec1-about-us-page__row-with-text {
          display: block;
          flex: 1 1 100%;
        }
      }

      @media (max-width: 1279px) {
        width: fit-content;
        margin-left: auto;
      }

      @media (max-width: 639px) {
        flex: 1 1 calc(50% - 20px);
      }
    }
  }

  span.sec1-about-us-page__left-big-text span {
    font-family: Literata;
    font-size: 154px !important;
    line-height: 105%;
    @media (max-width: 1919px) {
      font-size: 84px !important;
    }

    @media (max-width: 1279px) {
      font-size: 60px !important;
    }

    @media (max-width: 639px) {
      font-size: 28px !important;
      margin-top: 0;
    }
  }
}

.about-us-page__director {}

.director-about-us-page {
  margin-top: 110px;
  font-size: 21px;
  line-height: 1.17em;

  @media (max-width: 1279px) {
    margin-top: 100px;
  }

  @media (max-width: 639px) {
    margin-top: 62px;
  }

  &__title {}

  &__row {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1279px) {
      margin-top: 25px;
      flex-direction: column;
    }

    @media (max-width: 639px) {
      margin-top: 19px;
    }
  }

  &__left {
    flex: 0 1 740px;

    @media (max-width: 1919px) {
      flex: 0 1 610px;
    }

    @media (max-width: 1279px) {
      flex: 0 1 100%;
      max-width: 300px;
    }

    @media (max-width: 639px) {
      max-width: 100%;
    }
  }

  &__image {
    position: relative;
    padding-top: 66%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__right {
    flex: 0 1 740px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (max-width: 1919px) {
      flex: 0 1 550px;
    }

    @media (max-width: 1279px) {
      flex: 0 1 100%;
      margin-top: 50px;
    }

    @media (max-width: 639px) {
      margin-top: 32px;
    }
  }

  &__quote {
    padding: 94px;
    background: url("../../../images/cross.svg") 0 0 / 15px 15px no-repeat,
      url("../../../images/cross.svg") 0 100% / 15px 15px no-repeat,
      url("../../../images/cross.svg") 50% 0% / 15px 15px no-repeat,
      url("../../../images/cross.svg") 50% 100% / 15px 15px no-repeat,
      url("../../../images/cross.svg") 100% 0 / 15px 15px no-repeat,
      url("../../../images/cross.svg") 100% 100% / 15px 15px no-repeat;

    @media (max-width: 1919px) {
      padding: 65px;
    }

    @media (max-width: 1279px) {
      font-size: 18px;
      line-height: 1.17em;
    }

    @media (max-width: 639px) {
      padding: 45px 30px;
    }
  }

  &__name {
    margin-top: 130px;
    margin-right: 135px;

    @media (max-width: 1919px) {
      margin-top: 55px;
      margin-right: 50px;
    }

    @media (max-width: 1279px) {
      font-size: 18px;
      margin-top: 46px;
      margin-right: 116px;
      line-height: 1.17em;
    }

    @media (max-width: 639px) {
      margin-top: 30px;
      margin-right: 0;
      max-width: 150px;
    }
  }
}

.last-about-us-page {
  margin-top: 110px;
  font-size: 21px;

  @media (max-width: 1919px) {
    margin-top: 116px;
  }

  @media (max-width: 1279px) {
    font-size: 18px;
    margin-top: 82px;
  }

  @media (max-width: 639px) {
    margin-top: 51px;
  }

  &__title {
    @media (max-width: 1919px) {
      font-size: 52px;
    }

    @media (max-width: 1279px) {
      font-size: 50px;
    }

    @media (max-width: 639px) {
      font-size: 28px;
      line-height: 1.15em;
    }
  }

  &__title--top {
    max-width: 1120px;
    margin-left: auto;

    @media (max-width: 1919px) {
      max-width: 990px;
    }

    @media (max-width: 1279px) {
      max-width: 100%;
    }
  }

  &__content {
    display: flex;
    margin-top: 124px;

    @media (max-width: 1919px) {
      margin-top: 122px;
    }

    @media (max-width: 1279px) {
      flex-wrap: wrap;
      margin-top: 93px;
    }

    @media (max-width: 639px) {
      margin-top: 56px;
    }
  }

  &__left {
    flex: 1 1 auto;

    span {
      @media (max-width: 1919px) {
        display: block;
        max-width: 232px;
      }
    }
  }

  &__right {
    flex: 0 0 1120px;

    @media (max-width: 1919px) {
      flex: 0 0 736px;
    }

    @media (max-width: 1279px) {
      flex: 1 1 100%;
      margin-top: 50px;
    }

    @media (max-width: 639px) {
      margin-top: 21px;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 23px;
    row-gap: 48px;

    @media (max-width: 1919px) {
      column-gap: 10px;
      row-gap: 43px;
    }

    @media (max-width: 1279px) {
      row-gap: 50px;
    }

    @media (max-width: 639px) {
      row-gap: 40px;
    }
  }

  &__item {
    flex: 0 1 calc(32%);

    @media (max-width: 1919px) {
      flex: 0 1 calc(50% - 8px);
    }

    @media (max-width: 639px) {
      flex: 0 1 100%;
    }
  }

  &__title--bottom {
    margin-top: 130px;

    @media (max-width: 1919px) {
      margin-top: 114px;
    }

    @media (max-width: 1279px) {
      margin-top: 82px;
    }

    @media (max-width: 639px) {
      display: none;
    }
  }
}

.item-last-about-us-page {
  &__el {
    float: left;
    width: 67px;
    height: 67px;
    margin: 7px 7px 7px 0px;
    margin-top: -25px;
    position: relative;
    transition: all 0.3s ease 0s;

    @media (max-width: 1279px) {
      width: 60px;
      height: 60px;
      margin: 0;
      margin-top: -19px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      background-color: var(--dark-theme-bg);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      background: url("../../images/arrow.svg") center / 8px 8px no-repeat;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      opacity: 0;

      @media (max-width: 1279px) {
        opacity: 1;
      }
    }
  }

  &__title {
    margin-bottom: 30px;

    @media (max-width: 1279px) {
      margin-bottom: 21px;
    }

    @media (max-width: 639px) {
      margin-bottom: 26px;
    }
  }

  &__text {
    position: relative;
    line-height: 1.17em;
    letter-spacing: -0.01em;

    @media (max-width: 639px) {
      letter-spacing: -0.001em;
    }

    &::before {
      content: "";
      position: absolute;
      top: 60%;
      left: 60%;
      width: 15px;
      height: 15px;
    }
  }

  &:hover {
    .item-last-about-us-page__el {
      background-color: var(--light-theme-grey-bg);

      &::after {
        opacity: 1;
      }
    }
  }
}