.service-page {
  font-weight: 300;
  font-size: 21px;
}
@media (max-width: 1919px) {
  .service-page {
    padding-bottom: 160px;
  }
}
@media (max-width: 1279px) {
  .service-page {
    font-size: 18px;
    padding-bottom: 67px;
  }
}
@media (max-width: 639px) {
  .service-page {
    padding-top: 107px;
    padding-bottom: 31px;
  }
}
@media (max-width: 639px) {
  .service-page .service-page__title span {
    font-size: 28px !important;
    font-weight: 700 !important;
  }
}
.service-page .projects {
  margin-top: 165px;
}
@media (max-width: 1919px) {
  .service-page .projects {
    margin-top: 162px;
  }
}
@media (max-width: 1279px) {
  .service-page .projects {
    margin-top: 80px;
  }
}
@media (max-width: 1279px) {
  .service-page .projects {
    margin-top: 52px;
  }
}
.header-service-page__row1 {
  display: flex;
  justify-content: space-between;
  margin-top: 110px;
}
@media (max-width: 1279px) {
  .header-service-page__row1 {
    margin-top: 97px;
    flex-wrap: wrap;
  }
}
@media (max-width: 639px) {
  .header-service-page__row1 {
    margin-top: 59px;
  }
}
.header-service-page__row1 .header-service-page__right {
  flex: 0 1 40%;
  font-size: 32px;
}
@media (max-width: 1919px) {
  .header-service-page__row1 .header-service-page__right {
    flex: 0 1 59.5%;
  }
}
@media (max-width: 1279px) {
  .header-service-page__row1 .header-service-page__right {
    flex: 1 1 100%;
    margin-top: 25px;
    font-size: 26px;
  }
}
@media (max-width: 639px) {
  .header-service-page__row1 .header-service-page__right {
    font-size: 22px;
    margin-top: 21px;
  }
}
.header-service-page__row2 {
  margin-top: 30px;
  max-width: 29.7%;
  line-height: 112%;
  margin-left: auto;
  font-size: 20px;
}
@media (max-width: 1919px) {
  .header-service-page__row2 {
    max-width: 49.1%;
    line-height: 1.17em;
  }
}
@media (max-width: 1279px) {
  .header-service-page__row2 {
    margin-top: 25px;
    margin-left: 0;
    font-size: 18px;
  }
}
@media (max-width: 639px) {
  .header-service-page__row2 {
    font-size: 18px;
    max-width: 100%;
    margin-top: 20px;
  }
}
.header-service-page__row3 {
  max-width: 59.5%;
  margin-left: auto;
  margin-top: 110px;
}
@media (max-width: 1279px) {
  .header-service-page__row3 {
    margin-top: 50px;
    max-width: 100%;
  }
}
@media (max-width: 639px) {
  .header-service-page__row3 {
    margin-top: 29px;
  }
}
.header-service-page__nums ul {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  .header-service-page__nums ul {
    gap: 33px;
    flex-direction: column;
  }
}
@media (max-width: 639px) {
  .header-service-page__nums ul {
    gap: 16px;
    flex-direction: column;
  }
}
.header-service-page__nums ul li:last-child {
  flex: 0 1 50%;
}
@media (max-width: 1919px) {
  .header-service-page__nums ul li:last-child {
    flex: 0 1 33.333%;
  }
}
@media (max-width: 1279px) {
  .header-service-page__nums ul li:last-child {
    flex: 1 1 auto;
  }
}
.header-service-page__nums ul .header-service-page__nums-big {
  font-family: Literata;
  font-weight: 700;
  display: block;
}
.header-service-page__nums-big {
  font-size: 60px;
  margin-top: 5px;
}
@media (max-width: 1279px) {
  .header-service-page__nums-big {
    font-size: 50px;
  }
}
@media (max-width: 639px) {
  .header-service-page__nums-big {
    font-size: 28px;
  }
}

.service-page__image {
  margin-top: 30px;
  position: relative;
  padding-top: 49%;
}
@media (max-width: 1279px) {
  .service-page__image {
    margin-top: 22px;
  }
}
@media (max-width: 639px) {
  .service-page__image {
    margin-top: 16px;
  }
}
.service-page__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service-page__title--bottom {
  margin-top: 190px;
}
@media (max-width: 1919px) {
  .service-page__title--bottom {
    font-size: 52px;
  }
}
@media (max-width: 1279px) {
  .service-page__title--bottom {
    margin-top: 100px;
  }
}
@media (max-width: 639px) {
  .service-page__title--bottom {
    margin-top: 72px;
    font-size: 28px;
  }
}/*# sourceMappingURL=service-page.css.map */